.login-page,
.signup-page,
.home-page {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: #d6dce7;
/*background-image: url('../public/facebook1.png');
background-repeat: no-repeat;
background-size: cover;
opacity: 0.5;
/*background: rgba(0, 0, 0, 1) url('../public/facebook1.png') center/cover no-repeat;*/
}

/*.background{
display: flex;
justify-content: center;
align-items: center;
height: 100%;
width: 100%;
background-image: url('../public/facebook1.png');
background-repeat: no-repeat;
background-size: cover;
opacity: 1;
}*/

.login-container,
.signup-container {
width: 400px;
padding: 40px;
background-color: #ccd6e9;
border: 1px solid #cccaca;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
/*background-color: transparent;*/
/*opacity: 0.8;*/
}

.login-header,
.signup-header,
.home-header {
text-align: center;
}

.form-group {
margin-bottom: 10px;
}

.form-input {
width: 100%;
padding: 10px;
border: 1px solid #ddd;
border-radius: 3px;
/*background-color: transparent;*/
}

.login-button,
.signup-button {
width: 100%;
padding: 10px;
background-color: #3b63b4;
color: #fff;
border: none;
border-radius: 3px;
cursor: pointer;
}

.signup-link,
.login-link {
text-align: center;
cursor: pointer;
color: #315397;
}

.signup-link:hover,
.login-link:hover {
text-decoration: underline;
}

input{
opacity: 0.8;
}
